@import "styles/mediaQueries.scss";

.form {
  &__buttonsContainer {
    column-gap: 2rem;
    display: flex;
    justify-content: space-evenly;
  }
  &__fieldsContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 2rem;
    @include stylesForSmartphone() {
      margin: 0;
      max-width: none;
    }
  }
  &__form {
    @include stylesForSmartphone() {
      overflow-y: scroll;
      padding-top: 1rem;
    }
  }
}
