@import "styles/mediaQueries.scss";
@import "styles/mixins.scss";

.form {
  &__buttonsContainer {
    @include useFlex($columnGap: 2rem, $justifyContent: space-evenly);
  }
  &__fieldsContainer {
    @include useFlex($flexDirection: column, $rowGap: 2rem);
    margin: 0 auto;
    @include stylesForSmartphone() {
      margin: 0;
      max-width: none;
    }
  }
  &__form {
    @include stylesForSmartphone() {
      overflow-y: scroll;
      padding-top: 1rem;
    }
  }
}
