@import "styles/fonts.scss";

.heading {
  &__heading {
    font-family: $secondaryFontFamily;
    &--level1 {
      font-size: 4rem;
      margin: 0.4rem 0 1.2rem 0;
    }
    &--level2 {
      font-size: 3.2rem;
      margin: 0.2rem 0 0.6rem 0;
    }
  }
}
