.modal {
  &__closeIcon {
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    right: 0;
    top: 0;
  }
  &__container {
    margin: 20vh auto;
    min-height: 60vh;
    position: relative;
    width: 50vw;
  }
  &__containerExternal {
    backdrop-filter: blur(0.4rem);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
  }
  &__trigger {
    cursor: pointer;
  }
}
