.modal {
  &__closeIcon {
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    right: 0.6rem;
    top: 0;
  }
  &__container {
    align-items: center;
    background-color: white;
    border: 0.1rem solid lightsalmon;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    position: relative;
    width: 50vw;
  }
  &__containerExternal {
    align-items: center;
    backdrop-filter: blur(0.4rem);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 9;
  }
  &__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 2rem;
    row-gap: 2rem;
  }
}
