@import "styles/animations.scss";
@import "styles/colors.scss";
@import "styles/mediaQueries.scss";

.floatingButton {
  &__button {
    @include iconRotationAnimation();
    background: $primaryColor;
    border-radius: 100%;
    color: $white;
    cursor: pointer;
    font-size: 3rem;
    padding: 0.8rem;
  }
  &__container {
    bottom: 0;
    margin: 4rem;
    position: fixed;
    right: 0;
    @include stylesForSmartphone() {
      margin: 2rem;
    }
  }
  &__icon {
    position: relative;
    top: 0.1rem;
  }
}
