@import "styles/animations.scss";
@import "styles/colors.scss";
@import "styles/fonts.scss";

.button {
  &__button {
    @include commonTransitionAnimation();
    background-color: $primaryColor;
    border: 0.1rem solid $primaryColor;
    border-radius: 0.6rem;
    cursor: pointer;
    font-family: $primaryFontFamily;
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
    &:disabled {
      cursor: not-allowed;
    }
    &:hover {
      @include commonTransitionAnimation();
      background-color: $primaryColor;
      color: $black;
    }
    &--cancelable {
      background-color: $white;
      border: 0.1rem solid $primaryColor;
      color: $primaryColor;
    }
  }
}
